/* Copyright © 2023 Entreprise SkamKraft */


.ext-modal[open] {
    animation: myFadeIn 2.0s ease normal;
}
  
@keyframes myFadeIn{
    from {
      bottom: 100%;
    }
    to {
      bottom: 0%;
    }
}