.card{
  display: grid;
  margin-top: 15px;
  grid-template-columns: 1fr 1fr;
}
.contracts
{
  position: absolute;
  top: 25%;
  left: 30%;
}
.card-body{
  margin-left: 50px;
}
.card-button{
  margin-top: 10px;
}
.btn-infos{
  background-color: transparent;
  border-color: rgb(0,255,0);
  font-size: 15pt;
  color:rgb(0,255,0);
}
.btn-accept{
  background-color: transparent;
  border-color: rgb(0,255,0);
  font-size: 15pt;
  color: rgb(0,255,0);
}
.btn-accept:hover{
  transition: 0.2s;
  color: rgb(208, 255, 0);
  border-color: rgb(208, 255, 0);
}
.btn-infos:hover{
  transition: 0.2s;
  color: rgb(208, 255, 0);
  border-color: rgb(208, 255, 0);
}
.img
{
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: -1;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  
}