/* Copyright © 2023 Entreprise SkamCraft */



body,
html {
  background-image: url("/assets/contracts/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Button for more informations about the contact */
.btn-infos {
  margin: 2px;
  background-color: transparent;
  border: 5px solid #0018e8;
  border-radius: 10px;
}

.btn-infos:hover {
  border-color: #0018e8;
  background-color: #0018e8;

}

.btn-accept {
  margin: 2px;
  background-color: transparent;
  border: 5px solid #0018e8;
  border-radius: 10px;
}

.btn-accept:hover {
  border-color: rgb(33, 196, 0);
  background-color: rgb(33, 196, 0);
}


/* Ecran contenant les contrats */

.contracts {
  display: flex;
  justify-content: center;
}

.card {}

/* Modal */

.status-onhold {
  color: orange;
}

.status-accepted {
  color: greenyellow;
}

/* Flèche changer de page */
#leftarrow {
  width: 50px;
  height: 50px;
}

#rightarrow {
  width: 50px;
  height: 50px;
}

.arrows {
  text-align: center;
}