/* Copyright © 2023 Entreprise SkamCraft */



body,
html {
  background-image: url("/assets/contracts/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Button for more informations about the contact */
.btn-infos {
  margin: 2px;
  background-color: transparent;
  border: 5px solid #0018e8;
  border-radius: 10px;
}

.btn-infos:hover {
  border-color: #0018e8;
  background-color: #0018e8;

}

.btn-accept {
  margin: 2px;
  background-color: transparent;
  border: 5px solid #0018e8;
  border-radius: 10px;
}

.btn-accept:hover {
  border-color: rgb(33, 196, 0);
  background-color: rgb(33, 196, 0);
}


/* Ecran contenant les contrats */
.nav-nav {
  margin-bottom: 100px;
}

.contracts {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
}

.card img {
  margin-right: 50px;
}

.card-body {
  margin-right: 50px;
}

.card {
  margin-bottom: 100px;
  margin-left: -400px;
  display: flex;
}

.card-button {
  display: flex;
  flex-direction: row;
  height: 30%;
}

.arrows {
  display: flex;
  justify-content: center;

}

/* Modal */

.status-onhold {
  color: orange;
}

.status-accepted {
  color: greenyellow;
}

/* Flèche changer de page */
#leftarrow {
  width: 50px;
  height: 50px;
}

#rightarrow {
  width: 50px;
  height: 50px;
}

.arrows {
  text-align: center;
}