/* Copyright © 2023 Entreprise SkamCraft */

:root {
  --text-color: white;
}

@font-face {
  font-family: pixellari;
  src: url("../assets/fonts/Pixellari.ttf");
}

body {
  margin: 0;
  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: pixellari;
  color: var(--text-color);
}

input {
  border: none;
  font-family: pixellari;
}


button {
  border: none;
  font-family: pixellari;
}

select {
  border: none;
  font-family: pixellari;
}


.container {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
}

.languettes {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin: 250px -50px 0px 0px ;  
}

.languettes input{
  width: 5%;
}

.languettes input:hover{
  animation: slide-left;
  position: relative;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes slide-left {
  0%   {right: 0px; top: 0px;}
100%  {right: 25px; top: 0px;}
}