/* Copyright © 2023 Entreprise SkamCraft */

:root {
  --text-color: white;
}

@font-face {
  font-family: pixellari;
  src: url("../assets/fonts/Pixellari.ttf");
}

body {
  background-image: url(/assets/img/backgroundfinal.png); 
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
}

input {
  border: none;
  font-family: pixellari;
}


button {
  border: none;
  font-family: pixellari;
}

select {
  border: none;
  font-family: pixellari;
}

.languettes {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin: 250px -50px 0px 0px ;  
}

.languettes input{
  width: 5%;
}

