/* Copyright © 2023 Entreprise SkamCraft */

:root {
  --text-color: white;
}

@font-face {
  font-family: pixellari;
  src: url("../assets/fonts/Pixellari.ttf");
}

body {
  margin: 0;
  background-image: url("../assets/img/background.png");
  font-family: pixellari;
  color: var(--text-color);
}

input {
  border: none;
  font-family: pixellari;
}


button {
  border: none;
  font-family: pixellari;
}

select {
  border: none;
  font-family: pixellari;
}


.container {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
}