.modal-ships {
    background-image: url("/assets/spaceships/blueprint.png");
    background-size: cover;
    font-size: 25px;
    width: 1000px;  /* Set the width to the image width */
    height: 560px; /* Set the height to the image height */
    position: relative;
    margin: auto;
    padding: 40px;
    color: yellow;
}

.infos-ships {
    padding: 20px;
    margin-bottom: 20px; /* Space below the info box */
}

.btn-close-ships {
    position: absolute;
    font-size:x-large;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border: none;
    color: yellow;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.btn-close-ships:hover {
    background-color: rgba(255, 255, 255, 1); 
}  
