#modal_profile
{
    width: 50%;
    height: 45%;
    padding: 0;
    background-color: rgba(82, 82, 82, 0.774);
    border-width: 0px;
}

.profile-modal
{
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}
.profile-header
{
    font-size: 14px;
}
.profile-header button
{
    font-size: 25px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    float: right;
}
.logout-logo img{
    z-index: -1;
    position: absolute;
    width: 7%;
}
.profile-footer{
    display: flex;
    flex-direction: column;
}
.profile-footer button
{
    position: relative;
    width: 63px;
    height: 63px;
    background-color: transparent;
    border-color: transparent;
}
.profile-footer p
{
    color: red;
    font-size: 22px;
    margin-bottom: -1px;
    margin-top: -9px;
}
.profile-footer button:hover
{
    cursor: pointer;
}
#btn-token{
    background-color: grey;
}
#btn-token:hover{
    background-color: transparent;
    cursor: pointer;
}
.profile-header button:hover
{
    cursor: pointer;
}