/* Copyright © 2023 Entreprise SpaceTarders */
html{
    background-color: rgb(7, 18, 41);
    cursor: crosshair;
}
main{
    display: flex;
    justify-content: center;
}
#title{
    font-family: M42;
    font-size:15px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: left;
}

#menu {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
#menu button{
    margin-top: 15px;
    font-family: M42;
    color: white;
    font-size: 11px;
    background-color: rgb(20, 20, 32); 
    cursor: pointer;
}
#canvas {
    border: 2px solid rgb(7, 18, 41);
    border-radius: 5px;
}
@font-face {
    font-family: M42;
    src: url(/fonts/m42.TTF);
  }