
<div class="block-ships">
  <a class="prev">❮</a>
  <a class="next">❯</a>
  <div class="buttonShip">
    <button id="" class="reg base-btn" data-symbol="">Name</button>
    <button id="" class="nav base-btn" data-symbol="">Navigation</button>
    <button id="" class="crew base-btn" data-symbol="">Crew</button>
    <button id="" class="frame base-btn" data-symbol="">Frame</button>
    <button id="" class="react base-btn" data-symbol="">Reactor</button>
    <button id="" class="fuel base-btn" data-symbol="">Fuel</button>
  </div> 
</div>