<!-- Copyright © 2023 Entreprise SkamKraft -->
<div class="deploy-bar">
    <button class="btn-deploy">Click to deploy Leaderboard</button>
    <div class="container-ldb">
        <div class="head-board">
            <p class="num">rank</p>
            <p class="symbol">name</p>
            <p class="credits">credits</p>
            <p class="headquarters">headquarters</p>
            <p class="faction">faction</p>
            <p class="ships">ships</p>
        </div>
        <div class="leaderboard"></div>
        <div>
            <!--- leaderboard content -->
        </div>
        <div class="btn-cont">
            <button class="btn-cred">Sort by credits</button>
            <button class="btn-ship">Sort by ships</button>
        </div>
    </div>
</div>