<div class="profile-modal">
    <div class="profile-header">
        <h1>Profile</h1>
    </div>
    
    <div class="profile-content">
        <hr>
        <p id="name">Name: </p>
        <p id="faction">Faction: </p>
        <p id="credit">Credit: </p>
        <p id="hq">Headquarters: </p>
        <p id="shipcount">Ship count: </p>
        <p id="token">Token: <button id="btn-token">COPY</button></p>
        <hr>
    </div>
    
    <div class="profile-footer">
        <button id="btn-logout">Logout</button>
        <button id="btn-close">X</button>
    </div>
</div>