<!-- Copyright © 2023 Entreprise SkamKraft -->
<div class="auth-container">
    <div class="auth">
        <p class="auth-title">Login</p>
        <input type="text" placeholder="Agent token" class="base-input" id="in-token">
        <div class="auth-grp-label">
            <p>Remember me ?</p>
            <input type="checkbox" class="base-input" id="in-remember">
        </div>
        <div>
            <button class="base-btn" id="btn-login">Validate</button>
            <button class="base-btn" id="btn-cancel">Cancel</button>
        </div>
        <div>
            <button class="base-btn" id="btn-register">New agent</button>
        </div>
        <div class="errors"></div>
    </div>
</div>
