<!-- Copyright © 2023 Entreprise SkamKraft -->

<div class="container">
    <div class="auth-container">
        <p class="title">New Agent</p>
        <input type="text" placeholder="Name" id="in-name">
        <select class="auth-select" id="in-faction">
            <option value="" disabled selected>Factions</option>
            <optgroup id="group-faction" label="---------"></optgroup>
        </select>
        <div class="auth-grp-label">
            <p>Remember me ?</p>
            <input type="checkbox" class="auth-input" id="in-remember">
        </div>
        <div>
            <button class="auth-btn auth-btn-val" id="btn-register">Validate</button>
            <button class="auth-btn auth-btn-can" id="btn-cancel">Cancel</button>
        </div>
        <div>
            <button class="auth-btn auth-btn-other" id="btn-log">Login</button>
        </div>
        <div class="errors"></div>
    </div>
</div>