<!-- Copyright © 2023 Entreprise SkamKraft -->
<div class="auth-container">
    <div class="auth">
        <p class="auth-title">New Agent</p>
        <input type="text" placeholder="Name" class="base-input" id="in-name">
        <select class="base-select" id="in-faction">
            <option value="" disabled selected>Factions</option>
            <optgroup id="group-faction"></optgroup>
        </select>
        <div class="auth-grp-label">
            <p>Remember me ?</p>
            <input type="checkbox" class="base-input" id="in-remember">
        </div>
        <div>
            <button class="base-btn" id="btn-register">Validate</button>
            <button class="base-btn" id="btn-cancel">Cancel</button>
        </div>
        <div>
            <button class="base-btn" id="btn-log">Login</button>
        </div>
        <div class="errors"></div>
    </div>
</div>