<div class="cont-profile">
    <div id="profile">
        <div class="profile-header">
            <p class="">Profile</p>
        </div>  
        <div class="profile-content">
            <p class="tb-r">Name</p><p id="name"></p>
            <p class="tb-r">Faction</p><p id="faction"></p>
            <p class="tb-r">Credits</p><p id="credit"></p>
            <p class="tb-r">Head Quaters</p><p id="hq"></p>
            <p class="tb-r">Number of ships</p><p id="shipcount"></p>
        </div>
        
        <div class="profile-footer">
            <button id="btn-logout">
                <img src="/assets/menu/logout.png" alt="">
            </button>
            <button id="btn-token">COPY TOKEN</button>
        </div>
    </div>
</div>