<!-- Copyright © 2023 Entreprise SkamKraft -->
<p class="Title">LEADERBOARD</p>
<video autoplay muted loop id="myVideo">
    <source src="/assets/leaderboard/trophee.mp4" type="video/mp4">
</video>
<div class="cont-center">
    <div class="container-ldb">
        <div class="head-board">
            <p class="num">Rank</p>
            <p class="symbol">Name</p>
            <p class="credits">Credits</p>
            <p class="headquarters">Headquarters</p>
            <p class="faction">Faction</p>
            <p class="ships">Ships</p>
        </div>
        <div class="leaderboard"></div>
        <div>
            <!--- leaderboard content -->
        </div>
    </div>
</div>