<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylelogin.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div id="title">
            <img src="/img/logo/logoblancnotext.png" alt="logo">
            <h1>SpaceTraders</h1>
        </div>
        <p class="text">API loaded with SKAMKRAFT</p>
    </header>
    <main>

    </main>
    <footer>
        <p class="text">Copyright 2023 Entreprise SKAMKRAFT</p>
    </footer>
</body>
</html>