<!-- Copyright © 2023 Entreprise SkamKraft -->

<div>
    <p class="modal-title">Contract</p>
    <p class="contract-id"></p>
    <p class="contract-faction"></p>
    <p class="contract-type"></p>
    <p class="contract-expiration"></p>
    <p class="contract-payment-accepted"></p>
    <p class="contract-payment-fulfill"></p>
    <p class="contract-tradeSymbol"></p>
    <p class="contract-destinationSymbol"></p>
    <div>
        <button class="btn btn-val btn-close">Close</button>
    </div>
</div>