<!-- Copyright © 2023 Entreprise SkamKraft -->
<div class="my-modal">
  <p class="modal-title">Ship</p>
  <p class="Ship-id"></p>
  <p class="Ship-registration"></p>
  <p class="Ship-nav"></p>
  <p class="Ship-crew"></p>
  <p class="Ship-frame"></p>
  <p class="Ship-reactor"></p>
  <p class="Ship-engine"></p>
  <p class="Ship-cooldown"></p>
  <p class="Ship-modules"></p>
  <p class="Ship-mounts"></p>
  <p class="Ship-cargo"></p>
  <p class="Ship-fuel"></p>
  <div>
      <button class="btn btn-val btn-close">Close</button>
  </div>
</div>